body {
    background: black;
    color: turquoise
}
.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	color: #00ff38;
	font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 7px;
}
